<h3 class="ui header x-title"></h3>
<table class="ui selectable celled table">
  <thead>
    <tr>
      <th>#</th>
      <th>Address</th>
      <th>Message</th>
      <th>Time</th>
      <th>Action</th>
    </tr>
  </thead>
</table>
<% script.create('JQuery')
  .useDependencies(['SemanticUI/Loader', 'SemanticUI/Dialog', 'JQuery/Notification', 'JQuery/Util'])
  .add(`
$.messageView = function(address) {
    if (!$.messageViewDlg) {
        $.messageViewDlg = {
            init: function() {
                var self = this;
                var msgtitle = 'View message';
                var msgtmpl =
                    '<form class="ui container form">' +
                        '<div class="scrolling content" style="margin-bottom: 1em; padding-right: 1em;">Messages will shown here</div>' +
                        '<div class="field">' +
                            '<div class="ui action input">' +
                                '<input type="text" value="" name="message" placeholder="Type a message to sent">' +
                                '<button class="ui icon button"><i class="envelope icon"></i></button>' +
                            '</div>' +
                        '</div>' +
                    '</form>';
                self.dlg = $.ntdlg.create('msgviewdlg', msgtitle, msgtmpl, {
                    closable: true,
                    size: 'small',
                });
                self.dlg.find('form').on('submit', function(e) {
                    e.stopPropagation();
                    self.send();
                });
                self.dlg.find('form button').on('click', function(e) {
                    e.preventDefault();
                    self.send();
                });
            },
            notifyResult: function(result) {
                var self = this;
                if (result.success) {
                    this.load();
                    $.ntfy.notify(result.notice, 'success');
                } else {
                    $.ntfy.notify(result.error, 'error');
                }
            },
            send: function() {
                var self = this;
                var inp = self.dlg.find('input[name="message"]');
                var msg = inp.val();
                if (!msg.length) {
                    inp.focus();
                } else {
                    $.post('/send-message', {number: self.address, message: msg})
                        .done(function(json) {
                            inp.val('');
                            self.notifyResult(json);
                        })
                    ;
                }
            },
            show: function(address) {
                var self = this;
                self.address = address;
                self.dlg.find('input[name="message"]').val('');
                self.dlg.find('.header').html('View message for NUMBER'.replace(/NUMBER/, address));
                self.dlg.find('form .content').empty();
                $.ntdlg.show(self.dlg);
                self.load();
            },
            content: function(content) {
                var self = this;
                self.dlg.find('form .content').html(content);
            },
            statusInfo: function(data) {
                if (data.code != null) {
                    return data.code == 0 ? ['green check', 'Message received'] : ['red exclamation', 'Message not received'];
                } else {
                    if (data.processed == 1) {
                        return data.status == 1 ? ['yellow question', 'Message sent but status unconfirmed'] : ['red times', 'Message failed to sent'];
                    } else {
                        return ['clock', 'Message is waiting for processing'];
                    }
                }
            },
            load: function() {
                var self = this;
                $.get('/read/NUMBER'.replace(/NUMBER/, self.address))
                    .done(function(json) {
                        var contents = [];
                        for (var time in json) {
                            contents.push('<div class="ui horizontal divider">' + time + '</div>');
                            contents.push('<div class="ui divided feed">');
                            $.each(json[time], function(i, v) {
                                if (v.type == ${term.Storage.ACTIVITY_SMS}) {
                                    var info = self.statusInfo(v);
                                    contents.push($.util.template('<div class="event">' +
                                            '<div class="label"><i class="circular blue envelope icon"></i></div>' +
                                            '<div class="content">' +
                                                '<div class="summary">%MESSAGE%</div>' +
                                                '<div class="extra text"><small>Sent via %IMSI% <span class="ui mini label">%OPERATOR%</span> <i class="%ICON% icon" title="%INFO%"></i></small></div>' +
                                            '</div>' +
                                        '</div>', {
                                        MESSAGE: v.message,
                                        IMSI: v.imsi,
                                        OPERATOR: v.operator,
                                        ICON: info[0],
                                        INFO: info[1]
                                    }));
                                } else {
                                    contents.push($.util.template('<div class="event">' +
                                            '<div class="content">' +
                                                '<div class="summary">%MESSAGE%</div>' +
                                                '<div class="extra text"><small>Received via %IMSI% <span class="ui mini label">%OPERATOR%</span></small></div>' +
                                            '</div>' +
                                            '<div class="label"><i class="circular green envelope icon"></i></div>' +
                                        '</div>', {
                                        MESSAGE: v.message,
                                        IMSI: v.imsi,
                                        OPERATOR: v.operator
                                    }));
                                }
                            });
                            contents.push('</div>');
                        }
                        self.content(contents.join('\\n'));
                    })
                ;
            }
        }
        $.messageViewDlg.init();
    }
    $.messageViewDlg.show(address);
}
$.message = $.loader($('div[data-tab="message"] table'), {
    url: '/message/PAGE',
    formatRow: function(item) {
        return $('<tr><td>' + item.nr + '</td>' +
            '<td>' + item.address + '</td>' +
            '<td>' + item.data + '</td>' +
            '<td>' + item.time + '</td>' +
            '<td><a href="#" data-address="' + item.address + '">' + this.icon(4) + '</a></td>' +
            '</tr>');
    },
    loaded: function() {
        this.container.find('tbody a').on('click', function(e) {
            e.preventDefault();
            $.messageView($(this).attr('data-address'));
        });
    }
});
`); %>
