<div class="ui stackable grid">
  <div class="row">
    <div class="four wide column">
      <div class="ui fluid vertical pointing menu">
        <%_ term.plugins.forEach((plugin) => { -%>
        <a href="#" class="item" data-plugin="<%= plugin.name %>" data-desc="<%= plugin.description %>"><i class="<%= plugin.icon ? plugin.icon : 'plug' %> icon"></i> <%= plugin.title %></a>
        <%_ }); -%>
      </div>
    </div>
    <div class="twelve wide column">
      <div class="plugin-container">
        <div class="ui icon message">
          <i class="plug icon"></i>
          <div class="content">
            <div class="header">Plugin information</div>
            <p></p>
          </div>
        </div>
        <div class="plugin-content"></div>
      </div>
    </div>
  </div>
</div>
<% script.create('JQuery')
  .add(`
$.plugin.init();
$('a[data-plugin]').on('click', function(e) {
    e.preventDefault();
    var a = $(this);
    a.siblings('a').removeClass('active');
    a.addClass('active');
    $.plugin.handle(a);
}).filter(':first').click();
`); %>