<% script.create('JQuery')
  .useDependencies(['JQuery/FormPost', 'JQuery/Notification', 'SemanticUI/Dialog', 'SemanticUI/Dialog/Message'])
  .add(`
$.term = {
    notifyResult: function(result) {
        if (result.success) {
            $.queue.load($.queue.page);
            $.ntfy.notify(result.notice, 'success');
        } else {
            $.ntfy.notify(result.error, 'error');
        }
    },
    showDialer: function(name) {
        var self = this;
        self.current = name;
        $.ntdlg.input('dialnumber', 'Place a call', 'Please input the number to dial:', '', 'phone icon', function(number) {
            if (number.length) {
                $.post('/IMSI/dial'.replace(/IMSI/, name), {number: number})
                    .done(function(json) {
                        self.notifyResult(json);
                    })
                ;
            } else {
                return false;
            }
        });
    },
    sendMessage: function(name) {
        var self = this;
        self.current = name;
        if (!self.msgdlg) {
            var message =
                '<form class="ui container form">' +
                    '<div class="field">' +
                        '<label>Phone number:</label>' +
                        '<input type="text" name="address" value="">' +
                    '</div>' +
                    '<div class="field">' +
                        '<label>Message:</label>' +
                        '<textarea name="message" rows="2"></textarea>' +
                    '</div>' +
                '</form>';
            self.msgdlg = $.ntdlg.dialog('msgdlg', 'Send message', message, 'envelope icon', {
                'okay': {
                    type: 'green approve',
                    caption: '<i class="check icon"></i>Ok',
                    handler: function() {
                        var msgaddr = self.msgaddress.val();
                        var msgtext = self.msgtext.val();
                        if ('' == msgaddr) {
                            self.msgaddress.focus();
                            return false;
                        }
                        if ('' == msgtext) {
                            self.msgtext.focus();
                            return false;
                        }
                        $.post('/IMSI/message'.replace(/IMSI/, self.current), {number: msgaddr, message: msgtext})
                            .done(function(json) {
                                self.notifyResult(json);
                            })
                        ;
                    }
                },
                'cancel': {
                    type: 'red deny',
                    caption: '<i class="times icon"></i>Cancel'
                }
            });
            self.msgaddress = self.msgdlg.find('input[name="address"]');
            self.msgtext = self.msgdlg.find('textarea[name="message"]');
            self.msgdlg.find('form').on('submit', function(e) {
                e.preventDefault();
                self.msgdlg.find('div.green.button').click();
            });
        }
        self.msgaddress.val('');
        self.msgtext.val('');
        $.ntdlg.show(self.msgdlg);
    },
    sendUssd: function(name) {
        var self = this;
        self.current = name;
        if (!self.ussddlg) {
            var message =
                '<form class="ui container form">' +
                    '<div class="field">' +
                        '<label>Service:</label>' +
                        '<input type="text" name="service" value="">' +
                    '</div>' +
                    '<div class="field">' +
                        '<label>Feedback:</label>' +
                        '<textarea name="feedback" rows="5"></textarea>' +
                    '</div>' +
                '</form>';
            self.ussddlg = $.ntdlg.dialog('ussddlg', 'Send USSD', message, 'envelope icon', {
                'okay': {
                    type: 'green',
                    caption: '<i class="check icon"></i>Ok',
                    handler: function() {
                        var service = self.ussdservice.val();
                        if ('' == service) {
                            self.ussdservice.focus();
                        } else {
                            $.post('/IMSI/ussd'.replace(/IMSI/, self.current), {service: service})
                                .done(function(json) {
                                    self.notifyResult(json);
                                })
                            ;
                        }
                        return false;
                    }
                },
                'cancel': {
                    type: 'red deny',
                    caption: '<i class="times icon"></i>Cancel'
                }
            });
            self.ussdservice = self.ussddlg.find('input[name="service"]');
            self.ussdfeedback = self.ussddlg.find('textarea[name="feedback"]');
            self.ussddlg.find('form').on('submit', function(e) {
                e.preventDefault();
                self.ussddlg.find('div.green.button').click();
            });
        }
        self.ussdservice.val('');
        self.ussdfeedback.val('');
        $.ntdlg.show(self.ussddlg);
    },
    receiveUssd: function(data) {
        var self = this;
        if (self.current == data.imsi && self.ussdfeedback) {
            var message = self.ussdfeedback.val();
            if (message.length) message += '\\r\\n';
            message += data.message;
            self.ussdfeedback.val(message);
        }
    },
    clicker: function(cmd, src) {
        var self = this;
        var cont = src.parents('form');
        if (cont.length) {
            var term = cont.attr('data-term');
            switch (cmd) {
                case 'dial':
                    self.showDialer(term);
                    break;
                case 'message':
                    self.sendMessage(term);
                    break;
                case 'ussd':
                    self.sendUssd(term);
                    break;
            }
        }
    },
    loadConfig: function() {
        var self = this;
        $.get('/IMSI/config'.replace(/IMSI/, self.form.attr('data-term')))
            .then(function(json) {
                $.each(json, function(key, value) {
                    var item = null;
                    switch (key) {
                        case 'operators':
                            item = self.form.find('select[name="term[' + key + '][]"]');
                            break;
                        default:
                            item = self.form.find('input[name="term[' + key + ']"]');
                            break;
                    }
                    if (item) {
                        if (item.is('select')) {
                            item.find('option').each(function() {
                                var option = $(this);
                                var optval = option.attr('value');
                                var selected = value.indexOf(optval) >= 0;
                                option.prop('selected', selected);
                                item.dropdown(selected ? 'set selected' : 'remove selected', optval);
                            });
                        } else if (item.attr('type') == 'checkbox') {
                            item.prop('checked', value);
                        } else {
                            item.val(value);
                        }
                    }
                });
            })
        ;
    },
    handle: function(terminal, operator) {
        var self = this;
        self.form.attr('action', '/IMSI/apply'.replace(/IMSI/, terminal));
        self.form.attr('data-term', terminal);
        self.form.attr('data-operator', operator);
        self.form.find('.message .header').html(terminal + ' <span class="ui tiny blue label">' + operator + '</span>');
        self.loadConfig();
    },
    init: function() {
        var self = this;
        self.form = $('form.term-config');
        $.formpost(self.form, {xhr: true, progress: false});
        self.form.on('formsaved', function() {
            window.location.reload();
        });
        self.form.find('.btn-dial').on('click', function(e) {
            e.preventDefault();
            self.clicker('dial', $(this));
        });
        self.form.find('.btn-message').on('click', function(e) {
            e.preventDefault();
            self.clicker('message', $(this));
        });
        self.form.find('.btn-ussd').on('click', function(e) {
            e.preventDefault();
            self.clicker('ussd', $(this));
        });
    }
}
`); %>
