<% menus = {
    branding: {
        type: 'brand',
        title: apptitle,
        logo: '/images/logo.png',
        url: '/'
    },
    tasks: {
        title: 'Tasks',
        class: 'right floated',
        items: {
            about: {
                title: 'About'
            }
        }
    }
} %>
<% if(user.authenticated) {
    Object.assign(menus.tasks.items, {
        divider1: {
            type: 'divider'
        },
        readmsg: {
            title: 'Read messages from storage'
        },
        resendmsg: {
            title: 'Resend incoming messages'
        },
        checkreport: {
            title: 'Check delivery report'
        },
        divider2: {
            type: 'divider'
        },
        logout: {
            title: 'Logout',
            url: '/logout'
        }
    });
} %>
<%- menu(menus, {mainmenu: true, indentation: 2}) %>
<% script.create('JQuery')
  .useDependencies(['JQuery/Util', 'JQuery/Notification', 'SemanticUI/Dialog/Message'])
  .addMiddle(`
$.tasks = {
    notifyResult: function(result) {
        if (result.success) {
            $.ntfy.notify('Operation successfully submitted!', 'success');
        } else {
            $.ntfy.notify('Operation failed!', 'error');
        }
    },
    about: function() {
        var self = this;
        var f = function() {
            var msg = $.util.template('<p>%TITLE% version %VERSION%<br/>' +
                '(c) %AUTHOR%<br/>' +
                'Licensed under %LICENSE%</p>', {
                TITLE: self.aboutInfo.title,
                VERSION: self.aboutInfo.version,
                AUTHOR: $('<div>').text(self.aboutInfo.author).html(),
                LICENSE: self.aboutInfo.license
            });
            $.ntdlg.message('task-about', 'About', msg, $.ntdlg.ICON_INFO);
        }
        if (!self.aboutInfo) {
            $.get('/about').then(function(json) {
                self.aboutInfo = json;
                f();
            });
        } else {
            f();
        }
    },
    createPickMessageTypeDialog: function(id, title, label, handler, icon) {
        var message =
            '<form class="ui container form">' +
                '<div class="field">' +
                    '<label>' + label + '</label>' +
                    '<select name="type" class="ui dropdown">' +
                        '<option value="0">Unread messages</option>' +
                        '<option value="1">Read messages</option>' +
                    '</select>' +
                '</div>' +
            '</form>';
        var dlg = $.ntdlg.dialog(id, title, message, icon ? icon : 'envelope icon', {
            'okay': {
                type: 'green approve',
                caption: '<i class="check icon"></i>Ok',
                handler: function() {
                    var t = parseInt(dlg.find('select[name="type"]').val());
                    if (typeof handler == 'function') {
                        handler(t);
                    }
                }
            },
            'cancel': {
                type: 'red deny',
                caption: '<i class="times icon"></i>Cancel'
            }
        });
        dlg.find('select.dropdown').dropdown();
        dlg.find('form').on('submit', function(e) {
            e.preventDefault();
            dlg.find('div.green.button').click();
        });
        return dlg;
    },
    createPickTimeDialog: function(id, title, label, handler, icon) {
        var message =
            '<form class="ui container form">' +
                '<div class="field">' +
                    '<label>' + label + '</label>' +
                    '<div class="ui calendar">' +
                        '<div class="ui input left icon">' +
                        '<i class="calendar icon"></i>' +
                        '<input name="since" type="text" placeholder="Date/Time">' +
                        '</div>' +
                    '</div>' +
                '</div>' +
            '</form>';
        var dlg = $.ntdlg.dialog(id, title, message, icon ? icon : 'envelope icon', {
            'okay': {
                type: 'green approve',
                caption: '<i class="check icon"></i>Ok',
                handler: function() {
                    var t = dlg.find('input[name="since"]');
                    try {
                        dt = new Date(t.val());
                    } catch (e) {
                        t.focus();
                        return false;
                    }
                    if (typeof handler == 'function') {
                        handler(dt);
                    }
                }
            },
            'cancel': {
                type: 'red deny',
                caption: '<i class="times icon"></i>Cancel'
            }
        });
        dlg.find('.ui.calendar').calendar({type: 'datetime'});
        dlg.find('form').on('submit', function(e) {
            e.preventDefault();
            dlg.find('div.green.button').click();
        });
        return dlg;
    },
    readMessages: function() {
        var self = this;
        if (!self.readmsgdlg) {
            self.readmsgdlg = self.createPickMessageTypeDialog('readmsgdlg', 'Read Messages', 'Select message type to read:', function(msg) {
                $.post('/tasks/readmsg', {type: msg}).then(function(json) {
                    self.notifyResult(json);
                });
            });
        }
        $.ntdlg.show(self.readmsgdlg);
    },
    resendMessages: function() {
        var self = this;
        if (!self.resendmsgdlg) {
            self.resendmsgdlg = self.createPickTimeDialog('resendmsgdlg', 'Resend Incoming Messages', 'Resend incoming messages since:', function(since) {
                $.post('/tasks/resendmsg', {since: since.valueOf()}).then(function(json) {
                    self.notifyResult(json);
                });
            });
        }
        $.ntdlg.show(self.resendmsgdlg);
    },
    checkReport: function() {
        var self = this;
        if (!self.checkrptdlg) {
            self.checkrptdlg = self.createPickTimeDialog('checkrptdlg', 'Check report', 'Check for message report since:', function(since) {
                $.post('/tasks/report', {since: since.valueOf()}).then(function(json) {
                    self.notifyResult(json);
                });
            });
        }
        $.ntdlg.show(self.checkrptdlg);
    },
    init: function() {
        var self = this;
        $('.menu-about').on('click', function(e) {
            e.preventDefault();
            self.about();
        });
        $('.menu-readmsg').on('click', function(e) {
            e.preventDefault();
            self.readMessages();
        });
        $('.menu-resendmsg').on('click', function(e) {
            e.preventDefault();
            self.resendMessages();
        });
        $('.menu-checkreport').on('click', function(e) {
            e.preventDefault();
            self.checkReport();
        });
    }
}
`).addLast(`
$.tasks.init();
`); %>